/* Quill import */
@import url('styles/quill.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* blinker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/blinker-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* blinker-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/blinker-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Prime Vue Styles */
:root {
  --primary-50: 236 253 245;
  --primary-100: 209 250 229;
  --primary-200: 167 243 208;
  --primary-300: 110 231 183;
  --primary-400: 52 211 153;
  --primary-500: 16 185 129;
  --primary-600: 5 150 105;
  --primary-700: 4 120 87;
  --primary-800: 6 95 70;
  --primary-900: 4 78 56;
  --primary-950: 2 44 34;
  --surface-0: 255 255 255;
  --surface-50: 250 250 250;
  --surface-100: 244 244 245;
  --surface-200: 228 228 231;
  --surface-300: 212 212 216;
  --surface-400: 161 161 170;
  --surface-500: 113 113 122;
  --surface-600: 82 82 91;
  --surface-700: 63 63 70;
  --surface-800: 39 39 42;
  --surface-900: 24 24 27;
  --surface-950: 9 9 11;

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;
}
.dark{
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
  &:not(.dark){
      --primary: var(--primary-950);
      --primary-inverse: var(--surface-0);
      --primary-hover: var(--primary-800);
      --primary-active-color: var(--primary-900);

      --primary-highlight-opacity: 1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.8;
  }
  &.dark{
      --primary: var(--primary-50);
      --primary-inverse: var(--surface-950);
      --primary-hover: var(--primary-100);
      --primary-active-color: var(--primary-100);

      --primary-highlight-opacity: 0.1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.2;

  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
   /* transition: all 0.3s; */
   font-family: 'Blinker';
  }

p {
  font-family: 'Inter';
}

.result_item-content-wrapper {
  transition: all 0.3s;
  height: 100%;
  max-height: 10000px;

}
/* 
.result_item-content-wrapper:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(180deg, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 1000%);

  transition: all 0.3s;

} */

.resultItemHidden {
  /* padding-bottom: 0; */
  /* height: 200px; */
  max-height: 200px;
  transition: all 0.3s;
  /* overflow: hidden; */

}
/* 
.resultItemContentShow {
  max-height: 200px;
  overflow: hidden;
  transition: all 0.3s;

} */

.resultItemHidden:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
  transition: all 0.3s;
  border-radius: 0.5rem;

}

.active-nav-item {
margin: 0 -4px;
background-color: #fff;
z-index: 2;
height: 105%;

}

.transition-0-3s {
  transition: all 0.2s;
}

.svgIcon {
  width: 1.5rem;
  height: 1.5rem;
 }
/* 
.border-color {
  border-color: #646cff;
}

.border-color:hover {
  border-color: #535bf2;
}

.icon-fill {
  fill: #646cff;
}

.icon-fill:hover {
  fill: #535bf2;
}

.icon-stroke {
  stroke: #262626;
}

.icon-stroke:hover {
  stroke: #535bf2;
} */


/* Tooltips */
/* .tooltip {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  visibility: hidden;
  width: auto;
  background-color: #5C6070;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  opacity: 1;
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.z-index-999 {
  z-index: 999;
} */


/* Quill */
/* .quill > .ql-toolbar:first-child {
  display: none !important;
}
 */
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #ccc; 
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





#asdf {
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  --top-mask-size: 0px;
  --bottom-mask-size: 0px;
  transition: all 0.3s;

}

.is-top-overflowing {
  --top-mask-size: 48px !important;
  transition: all 0.3s;
}

.is-bottom-overflowing {
  --bottom-mask-size: 48px !important;
  transition: all 0.3s;

}